body {
  font-family: Neutraface, sans-serif;
}

body > div {
  width: 400px;
  margin: 15px auto;
}

input {
  margin-left: 15px;
}

.hidden {
  display: none;
}

.vote-btn {
  display: inline-block; height: 40px; background-color: #c8483b;border-radius: 20px; padding: 10px 30px; text-align:center; color: #fff; border: 0 none;
}

.vote-btn:hover {
  cursor: pointer;
}
